|
  $('#contact-modal').modal('hide');

  $('#obtain-coupon-client-registered-modal').html( "#{escape_javascript(render('/coupons/obtain_coupon_client_registered_modal'))}" );

  $('#new_coupon').submit()
