|
  $('#obtain-coupon-client-registered-modal').html( "#{escape_javascript(render('create_coupon_modal'))}" );

  $('#obtain-coupon-client-registered-modal').modal('show');

  $('#modal-done-button').click(function() {
    $(this).closest('.modal').modal('hide');
    window.location = "/results";
  });
