|
  //$('#obtain-coupon-client-registered-modal').modal('hide');

  $('#obtain-coupon-client-registered-modal').html( "#{escape_javascript(render('create_coupon_modal'))}" );

  $('#modal-done-button').click(function() {
    $(this).closest('.modal').modal('hide');
  });

  //$('#create-coupon-modal').modal('show');
