.text-left.text-primary
  = check_box_tag('accept_terms', class:'accept-terms-check')
  | He leido y acepto los
  = link_to root_path, target: :blank do
    = ' Términos y Condiciones'

javascript:
  $("##{form_id}").validate({
    debug: true,
    errorPlacement: function(error, element) { },
    rules: {
    "accept_terms": {required: true}
    }
  });
