|
  $('#contact-modal').html( "#{escape_javascript(render('contact_modal'))}" );

  $.validator.addMethod("regex", function(value, element, regexpr) {
     return regexpr.test(value);
   }, '');

  $("#register_client").validate({
    debug: true,
    errorPlacement: function(error, element) { },
    rules: {
    "client[name]": {required: true},
    "client[email]": {required: true, email: true},
    "client[phone]": {required: false, digits: true, minlength: 9, maxlength: 15},
    }
  });

  $('#contact-modal').modal('show');
