|
  $('#contact-modal').html( "#{escape_javascript(render('contact_modal'))}" );

  $.validator.addMethod("regex", function(value, element, regexpr) {
     return regexpr.test(value);
   }, '');

  $("#register_client").validate({
    debug: true,
    errorPlacement: function(error, element) { },
    rules: {
    "client[name]": {required: true},
    "client[email]": {required: true, email: true},
    "client[phone]": {required: true, digits: true, minlength: 9, maxlength: 15},
    "client[comune_id]": {required: true},
    "client[manteinance_type]": {required: true},
    "client[brand]": {required: true,  maxlength: 200}
    }
  });

  $('#contact-modal').modal('show');
