|
  $('#client_search_input_horizontal_filters_by_vehicle_model_id').html( "#{escape_javascript(render '/shared/model_select')}" );
  $('#client_search_input_horizontal_filters_by_vehicle_model_id').selectpicker('refresh');
