|
  $('#client_search_input_horizontal_filters_model_id').html( "#{escape_javascript(render '/search_products/model_select')}" );
  $('#client_search_input_horizontal_filters_model_id').selectpicker('refresh');
