|
  //sets MarkerClusterer Image path
  mapControls.markerClustererImagePath = 'https://s3.amazonaws.com/mismantenciones-files/images/markerclusterer/m';
  // It sets to js variable the whole list of branches
  tmpBranches = #{raw Branch.to_map_builder(@branches).target!};
  initialServiceSelection = #{params[:search].present? and params[:search][:branch_type_id].present? ? params[:search][:branch_type_id] : 'null'}
  if(!generalControls.arraysEqual(tmpBranches, branchesControls.branches)){
    branchesControls.makeCluster([]);
    leftPanelControls.selectBranchTypesFilters([initialServiceSelection]);
    branchesControls.branches = tmpBranches;
    markers = branchesControls.drawBranches();
  }

