/ This file must be in this extrictly order
  First, i must to overwrite mapControls.afterLoadMapHook to center center and zoom map, before on rendering /shared/search
  because is the load of the map on that file.
  But the call to add branches's markers is after -> branchesControls.afterLoadHook

javascript:
  // This function is called later on mapControls.ready function
  mapControls.afterLoadMapHook = function after_load_map_hook(){
    mapControls.centerMapToPosition(#{@search_branches_form.latitude}, #{@search_branches_form.longitude});
  }

= render '/shared/search', hide_floating_form: true

javascript:
  // This function is called later on branchesControls.ready function
  branchesControls.afterLoadHook = function after_load_hook(){
    #{raw = render file: '/search_branches/create.js'};
    if(!generalControls.isMobileScreen())
      $('.open-sidebar').click();
  }

  document.getElementById('search-input-left-panel').value = "#{@search_branches_form.location_text}"
