|
  // It sets to js variable the whole list of branches
  tmpBranches = #{raw Branch.to_map_builder(@branches).target!};
  if(!generalControls.arraysEqual(tmpBranches, branchesControls.branches)){
    branchesControls.branches = tmpBranches;
    branchesControls.drawBranches();
  }

