@import 'helpers';

//////////////////////////////////////////////////////////
// Catalog
//////////////////////////////////////////////////////////

.catalog {
	.inner {
		height: auto;
		padding: 120px 0 60px 0;
		@media #{$xs}{padding-top: 140px;}
		@media #{$xxs}{padding-top: 110px;}
		h1 {
			font-size: 30px;
			@media #{$xs}{
				font-size: 27px;
				margin-bottom: 15px
			}
			@media #{$xxs}{font-size: 24px;}
		}
		h1,h2,h3 {
			opacity: 0.6;
			font-style: italic;
			font-family: 'Exo 2', sans-serif;
			strong {
				font-family: 'Exo', sans-serif;
				display: inline-block;
				margin-right: 10px;
			}
		}
		.container {
			position: relative;
		}
	}
	span.full-price {
		display: inline-block;
		width: 100%;
		opacity: 0.6;
		text-decoration: line-through;
		text-align: right;
	}
	span.promo-price {
		display: inline-block;
		width: 100%;
		font-size: 145%;
		font-weight: bold;
		font-family: 'Exo', sans-serif;
		text-align: right;
	}
	.btn-cta {
		margin: 5px 0;
	}
}

//////////////////////////////////////////////////////////
// Promo index
//////////////////////////////////////////////////////////

.catalog {
	// Menú
	.collapse-button {
		@include transition(all 0 ease-in-out);
		h3 {
			font-size: 18px;
		}
		@media #{$xs}{
			position: absolute;
			right: 15px;
			top: -50px;
			z-index: 1;
			display: inline-block;
			padding: 8px 10px;
			border: 1px solid;
			h3 {
				margin-bottom: 0;
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
	#collapse-list {
		margin: 15px 0;
		&.collapse, &.collapsing {
			@media #{$oxs}{
				display: block!important;
				height: auto!important;
			}
		}
		@media #{$xs}{
			position: absolute;
			z-index: 2;
			width: 100%;
			margin: 0 -15px;
			padding: 0 15px;
		}
		.categories-list {
			list-style: none;
			padding-left: 0;
			> li {
				> a {
					display: inline-block;
					width: 100%;
					padding: 4px 0;
					@media #{$xs}{
						padding: 6px 0;
					}
				}
			}
		}
	}
	// Promos
	.promo-list {
		list-style: none;
		padding-left: 0;
		> li {
			margin-bottom: 15px;
			a {
				display: table;
				table-layout: fixed;
				width: 100%;
				padding-left: 0;
				@media #{$oxs} {height: 180px;}
				@media #{$xs} {height: 160px;}
				> h4, h5, h6, p {cursor: pointer;}
				p {margin-bottom: 0;}
				.promo-image {
					position: relative;
					width: 40%;
					opacity: 0.8;
					height: 100%;
					@extend .cover-background;
					@include transition(all 0.3s ease-in-out);
					.brand-logo {
						position: absolute;
						z-index: 1;
						top: 15px;
						right: 0;
					}
					@media #{$xs}{
						top: 0;
						margin-top: 0;
						margin-bottom: 0;
					}
					@media #{$xxs}{
						height: 120px
					}
				}
				.promo-image, .promo-description {
					display: table-cell;
					@media #{$xxs}{
						display: inline-block;
						width: 100%;
						min-height: 100px;
					}
				}
				.promo-description {
					padding: 20px;
					font-style: italic;
					@media #{$xxs}{
						padding: 10px 20px;
					}
					> h6 {
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 135%;
						opacity: 0.6;
					}
				}
				&:hover, &:active, &:focus {
					.promo-image {
						opacity: 1;
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Promo Detail
//////////////////////////////////////////////////////////

.catalog {
	.promo-prices {
		span.promo-price, span.full-price {
			@media #{$xs}{
				text-align: left;
			}
		}
	}
	.promo-conditions {
		list-style: none;
		padding-left: 0;
		margin: 25px 0;
		text-align: right;
		@media #{$xs}{
			text-align: left;
		}
		li {
			margin-bottom: 5px;
		}
	}
	.promo-image {
		position: relative;
		margin: 20px 0;
		.brand-logo {
			position: absolute;
			z-index: 1;
			top: 35px;
			right: 0;
			@media #{$xs}{
				position: relative;
				display: block;
				margin: 0 auto;
				right: 0;
			}
		}
		@media #{$xs}{
			height: 200px;
			top: -10px;
			.img-responsive {
				max-height: 100%;
				margin: 0 auto;
				vertical-align: bottom;
			}
		}
	}
	.promo-description {
		h1, h2, h3, h4, h5, h6, strong {
			opacity: 0.6;
		}
	}
}

//////////////////////////////////////////////////////////
// Product List
//////////////////////////////////////////////////////////

.catalog {
	// Products
	.part-list {
		list-style: none;
		padding-left: 0;
		> li {
			margin-bottom: 15px;
			a {
				display: table;
				table-layout: fixed;
				width: 100%;
				padding-left: 0;
				> h4, h5, h6, p {cursor: pointer;}
				.part-image, .part-description {
					display: table-cell;
				}
				.part-image {
					@include transition(all 0.3s ease-in-out);
					position: relative;
					opacity: 0.8;
					@media #{$lg}{width: 200px;}
					@media #{$md}{width: 160px;}
					@media #{$sm}{width: 130px;}
					@media #{$xs}{width: 100px;}
					@media #{$xxs}{width: 70px;}
					padding: 10px;
					vertical-align: middle;
					text-align: center;
					img {
						display: inline-block;
						max-height: 145px;
						vertical-align: bottom;
					}
					.brand-logo {
						position: absolute;
						z-index: 1;
						top: 15px;
						right: 0;
					}
					@media #{$xs}{
						top: 0;
						margin-top: 0;
						margin-bottom: 0;
					}
				}
				.part-description {
					@media #{$lg}{width: calc(100% - 200px);}
					@media #{$md}{width: calc(100% - 160px);}
					@media #{$sm}{width: calc(100% - 130px);}
					@media #{$xs}{width: calc(100% - 100px);}
					@media #{$xxs}{width: calc(100% - 70px);}
					padding: 15px;
					vertical-align: middle;
					> h6 {
						margin-bottom: 5px;
						font-size: 135%;
						@media #{$xs}{font-size: 120%;}
					}
					> p {
						@media #{$xs}{margin-bottom: 5px;}
					}
					span, strong {
						display: inline-block;
						width: 100%;
						font-style: italic;
					}
					strong {
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						opacity: 0.8;
						&:last-child {
							font-size: 135%;
							@media #{$xs}{font-size: 120%;}
						}
					}
				}
				&:hover, &:active, &:focus {
					.part-image {
						opacity: 1;
					}
				}
			}
		}
	}
	// Pagination
	.pagination {
		width: 100%;
		text-align: center;
		font-style: italic;
		> li {
			display: inline-block;
			margin: 2px;
			font-family: 'Exo', sans-serif;
			font-weight: bold;
			font-size: 90%;
			&.active {
			}
			> a {
				border: none;
				padding: 6px 12px;
			}
		}
	}
	// Filters
	#parts-filters {
		border-bottom: 1px dashed;
		.panel {
			background-color: transparent;
			box-shadow: none;
			border: none;
			border-top: 1px dashed;
			.panel-heading {
				padding: 0;
				a {
					display: block;
					padding: 10px 0;
					font-family: 'Exo', sans-serif;
					font-weight: bold;
					font-style: italic;
					font-size: 15px;
					span {
						font-family: 'Exo 2', sans-serif;
						font-weight: normal;
						display: inline-block;
						margin: 0 5px;
						font-size: 80%;
						&:before {content: '('}
						&:after {content: ')'}
					}
					&:before {
						font-family: 'FontAwesome';
						display: inline-block;
						width: 15px;
						margin-right: 5px;
						content: '\f107';
					}
					&.collapsed {
						&:before {
							content: '\f105';
						}
					}
				}
			}
			& + .panel {
				margin-top: 0;
			}
			.panel-collapse {
				&.collapse.in, &.collapsing {
					.panel-body {
						border-top: 1px dashed;
						padding: 0;
					}
				}
				.list-unstyled{
					margin-bottom: 0;
					padding-left: 0;
					> li {
						> label {
							display: inline-block;
							width: 100%;
							padding: 7px 0 7px 20px;
							margin-bottom: 0;
							cursor: pointer;
							input[type="checkbox"] {
								& + span:before {
									vertical-align: middle;
									font-family: 'FontAwesome';
									display: inline-block;
									width: 15px;
									margin-right: 5px;
									content: '\f096';
								}
								&:checked + span:before {
									content: '\f046';
								}
							}
						}
					}
				}
			}
		}
	}
	// Search
	.nav.nav-tabs {
		border-bottom: none;
		@media #{$oxs}{margin-top: -45px;}
		> li {
			float: right;
			text-align: center;
			@media #{$xs}{width: 50%;}
			> a {
				border: none;
				font-style: italic;
				margin: 0;
				padding: 14px 28px;
				@media #{$xs}{padding: 8px 16px;}
				strong {
					font-family: 'Exo', sans-serif;
					font-weight: bold;
				}
			}
		}
	}
	.tab-content {
		margin-bottom: 25px;
		.tab-pane {
			font-style: italic;
			padding: 20px;
			.form-control {
				@media #{$usm}{
					margin-bottom: 5px;
				}
			}
			.btn-cta {margin: 0;}
			p {margin-bottom: 10px;}
			p.small {
				margin-top: 10px;
				margin-bottom: 0;
				opacity: 0.8;
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Product Detail
//////////////////////////////////////////////////////////

.catalog {
	.product-image {
		position: relative;
		margin: 20px 0;
		text-align: center;
		border: 1px solid;
		.img-responsive {
			display: inline-block;
		}
		@media #{$xs}{
			height: 200px;
			.img-responsive {
				max-height: 100%;
				margin: 0 auto;
			}
		}
	}
	.product-description {
		text-align: left;
		@media #{$xs}{
			text-align: left;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin: 20px 0;
			li {
				margin-bottom: 5px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			opacity: 0.6;
		}
	}
	.product-table {
		.table {
			margin: 20px 0;
			width: 100%;
			table-layout: fixed;
			th, td {
				border-right: none;
				border-left: none;
				vertical-align: middle;
				text-align: right;
				&:first-child {text-align: left;}
			}
			th {
				text-transform: uppercase;
				font-size: 80%;
				border-bottom-width: 1px;
			}
			td {
				padding: 12px 8px;
				font-style: italic;
				opacity: 0.8;
				&:first-child {
					font-size: 115%;
					opacity: 1;
				}
				&:last-child {
					opacity: 1;
				}
			}
			tr {
				&:first-child, &.active {
					> td.branch-price {
						font-family: 'Exo', sans-serif;
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Product Brands
//////////////////////////////////////////////////////////

.brand {
	&.michelin,
	&.pirelli,
	&.goodyear,
	&.nexen,
	&.firestone,
	&.bridgestone,
	&.continental,
	&.yokohama,
	&.hankook,
	&.toyo,
	&.dunlop,
	&.westlake,
	&.achilles,
	&.goodride,
	&.ling-long {
		display: block;
		height: 25px;
		width: 100%;
		color: transparent;
		font-size: 0!important;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: auto 25px;
	}
	&.michelin {background-image: image-url("brands/michelin.png");}
	&.pirelli {background-image: image-url("brands/pirelli.png");}
	&.goodyear {background-image: image-url("brands/goodyear.png");}
	&.nexen {background-image: image-url("brands/nexen.png");}
	&.firestone {background-image: image-url("brands/firestone.png");}
	&.bridgestone {background-image: image-url("brands/bridgestone.png");}
	&.continental {background-image: image-url("brands/continental.png");}
	&.yokohama {background-image: image-url("brands/yokohama.png");}
	&.hankook {background-image: image-url("brands/hankook.png");}
	&.toyo {background-image: image-url("brands/toyo.png");}
	&.dunlop {background-image: image-url("brands/dunlop.png");}
	&.westlake {background-image: image-url("brands/westlake.png");}
	&.achilles {background-image: image-url("brands/achilles.png");}
	&.goodride {background-image: image-url("brands/goodride.png");}
	&.ling-long {background-image: image-url("brands/ling-long.png");}
}
