@import 'helpers';

//////////////////////////////////////////////////////////
// Catalog
//////////////////////////////////////////////////////////

.catalog {
	.inner {
		height: auto;
		padding: 80px 0 40px 0;
		@media #{$xs}{
			padding-top: 60px;
			padding-bottom: 5px;
		}
		h1 {
			font-size: 30px;
			margin-bottom: 25px;
			@media #{$xs}{
				font-size: 27px;
				margin-bottom: 10px
			}
			@media #{$xxs}{font-size: 24px;}
		}
		h1, h2, h3 {
			opacity: 0.6;
			font-style: italic;
			font-family: 'Montserrat', sans-serif;
			strong {
				font-family: 'Montserrat', sans-serif;
				display: inline-block;
				margin-right: 10px;
			}
		}
		.container {
			position: relative;
		}
	}
	.full-price,
	.promo-price {
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
	}
	.full-price {
		opacity: 0.5;
		text-decoration: line-through;
	}
	.promo-price {
		font-size: 150%;
		font-weight: bold;
		@media #{$xs}{
			font-size: 130%;
		}
	}
	.btn-cta {
		margin: 5px 0;
	}
	& ~ .popover,
	.popover {
		@extend .special-popover;
		@media #{$xs}{
			display: none!important;
		}
	}
}

// Special Popover
.special-popover {
	width: 290px;
	max-width: 100%;
	font-size: 13px;
	.popover-content {
		padding: 10px 20px;
		strong {
			font-style: italic;
			margin-bottom: 1px;
			display: inline-block;
		}
	}
	&.top {
		.arrow {
			bottom: -14px;
			&:after {
				bottom: 4px;
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Promo index
//////////////////////////////////////////////////////////

.catalog {
	// Menú
	.collapse-button {
		@include transition(all 0 ease-in-out);
		h3 {
			font-size: 18px;
		}
		@media #{$xs}{
			position: absolute;
			right: 15px;
			top: -50px;
			z-index: 1;
			display: inline-block;
			padding: 8px 10px;
			border: 1px solid;
			h3 {
				margin-bottom: 0;
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
	#collapse-list {
		margin: 15px 0;
		&.collapse, &.collapsing {
			@media #{$oxs}{
				display: block!important;
				height: auto!important;
			}
		}
		@media #{$xs}{
			position: absolute;
			z-index: 2;
			width: 100%;
			margin: 0 -15px;
			padding: 0 15px;
		}
		.categories-list {
			list-style: none;
			padding-left: 0;
			> li {
				> a {
					display: inline-block;
					width: 100%;
					padding: 4px 0;
					@media #{$xs}{
						padding: 6px 0;
					}
				}
			}
		}
	}
	// Promos
	.promo-list {
		list-style: none;
		padding-left: 0;
		@media #{$osm} {
			margin: 0 -10px;
		}
		> li {
			margin-bottom: 15px;
			@media #{$osm} {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				padding: 0 10px;
			}
			a {
				display: table;
				//table-layout: fixed;
				width: 100%;
				padding-left: 0;
				@media #{$oxs} {height: 200px;}
				@media #{$md} {height: 240px;}
				@media #{$xs} {height: 160px;}
				> h4, h5, h6, p {cursor: pointer;}
				p {margin-bottom: 0;}
				.promo-image {
					position: relative;
					width: 40%;
					opacity: 0.8;
					height: 100%;
					@extend .cover-background;
					@include transition(all 0.3s ease-in-out);
					.brand-logo {
						position: absolute;
						z-index: 1;
						top: 15px;
						right: 0;
						max-width: 50%;
					}
					@media #{$xs}{
						top: 0;
						margin-top: 0;
						margin-bottom: 0;
					}
					@media #{$xxs}{
						height: 120px
					}
				}
				.promo-image, .promo-description {
					display: table-cell;
					@media #{$xxs}{
						display: inline-block;
						width: 100%;
						min-height: 100px;
					}
				}
				.promo-description {
					padding: 20px;
					font-style: italic;
					@media #{$xxs}{
						padding: 10px 20px;
					}
					> h6 {
						font-family: 'Montserrat', sans-serif;
						font-weight: bold;
						font-size: 120%;
						opacity: 0.6;
						@media #{$md}{
							font-size: 110%;
						}
					}
					.promo-price, .full-price {
						width: 100%;
					}
				}
				&:hover, &:active, &:focus {
					.promo-image {
						opacity: 1;
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Promo Detail
//////////////////////////////////////////////////////////

.promo {
	@media #{$xs}{
		.catalog .inner {padding-top: 50px;}
		#fixed-column {min-height: 80px;}
		#footer {margin-bottom: -80px}
	}
	&.without-price {
		@media #{$xs}{
			#fixed-column {min-height: 50px;}
			#footer {margin-bottom: -50px}
		}
	}
}
.catalog {
	.big {
		@media #{$xs}{
			font-size: 105%;
		}
	}
	.promo-name {
		@media #{$xs}{
			display: none;
		}
	}
	.promo-prices {
		text-align: center;
		padding: 0;
		span.promo-price, span.full-price {
			margin: 10px 0;
			@media #{$xs}{
				text-align: left;
				margin: 5px 0;
				line-height: 1.1em;
			}
		}
	}
	.promo-conditions {
		list-style: none;
		padding-left: 0;
		margin: 15px 0;
		text-align: left;
		li {
			margin-bottom: 5px;
		}
	}
	.promo-image {
		position: relative;
		margin: 0 0 20px 0;
		.img-responsive {
			margin: 0 auto;
		}
		.brand-logo {
			position: absolute;
			z-index: 1;
			top: 35px;
			right: 0;
			@media #{$xs}{
				position: relative;
				display: block;
				margin: 0 auto;
				right: 0;
			}
		}
		@media #{$xs}{
			left: -15px;
			top: -20px;
			width: calc(100% + 30px);
    		overflow: hidden;
    		margin-bottom: 0;
			.img-responsive {
				margin: 0 auto;
				vertical-align: bottom;
			}
		}
	}
	.promo-description {
		h1, h2, h3, h4, h5, h6, strong {
			opacity: 0.6;
			font-family: 'Montserrat', sans-serif;
			font-style: italic;
		}
	}
	.promo-title {
		font-family: 'Montserrat', sans-serif;
		font-style: italic;
		margin-bottom: 20px;
		span {
			font-weight: 400;
			opacity: 0.6;
		}
		strong {
			font-weight: 700;
			opacity: 0.8;
		}
		@media #{$xs}{font-size: 120%;}
	}
}
#relative-row {
	position: relative;
	> .col-sm-5 {
		position: static;
		#fixed-column {
			position: relative;
			@media #{$oxs}{
				padding-top: 68px;
			}
			@media #{$xs}{
				position: fixed;
				top: auto!important;
				bottom: 0;
				left: 0;
				z-index: 20;
				width: 100%;
				padding: 5px 15px;
				.btn-lg {
					padding: 6px 20px;
				}
			}
		}
	}
}
.promo-share {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
	font-size: 0;
	li {
		vertical-align: middle;
	}
	span {
		display: inline-block;
		font-size: 12px;
	}
	a {
		display: inline-block;
		.fa {
			font-size: 21px;
		}
	}
}

//////////////////////////////////////////////////////////
// Product List
//////////////////////////////////////////////////////////

.catalog {
	// Products
	.part-list {
		list-style: none;
		padding-left: 0;
		display: flex;
		margin: 0 -10px;
		flex-wrap: wrap;
		> li {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 10px;
			margin-bottom: 15px;
			position: relative;
			button {
				position: absolute;
				z-index: 1;
				bottom: 15px;
				right: 30px;
				padding: 5px 12px;
			}
			@media #{$usm}{
				flex: 0 0 100%;
				max-width: 100%;
			}
			a {
				display: table;
				table-layout: fixed;
				width: 100%;
				padding-left: 0;
				> h4, h5, h6, p {cursor: pointer;}
				.part-image, .part-description {
					display: table-cell;
				}
				.part-image {
					@include transition(all 0.3s ease-in-out);
					position: relative;
					opacity: 0.8;
					@media #{$lg}{width: 140px;}
					@media #{$md}{width: 115px;}
					@media #{$sm}{width: 100px;}
					@media #{$xs}{width: 70px;}
					@media #{$xxs}{width: 70px;}
					padding: 10px;
					vertical-align: middle;
					text-align: center;
					img {
						display: inline-block;
						max-height: 145px;
						max-width: 100%;
						vertical-align: bottom;
					}
					.brand-logo {
						position: absolute;
						z-index: 1;
						top: 15px;
						right: 0;
					}
					@media #{$xs}{
						top: 0;
						margin-top: 0;
						margin-bottom: 0;
					}
				}
				.part-description {
					padding: 15px;
					vertical-align: middle;
					> h6 {
						margin-bottom: 5px;
						font-size: 135%;
						@media #{$xs}{font-size: 120%;}
					}
					> p {
						@media #{$xs}{margin-bottom: 5px;}
					}
					span, strong {
						display: inline-block;
						width: 100%;
						font-style: italic;
					}
					strong {
						font-family: 'Montserrat', sans-serif;
						font-weight: bold;
						opacity: 0.8;
						&:last-child {
							font-size: 135%;
							@media #{$xs}{font-size: 120%;}
						}
					}
				}
				&:hover, &:active, &:focus {
					.part-image {
						opacity: 1;
					}
				}
			}
		}
	}
	// Pagination
	.pagination {
		width: 100%;
		text-align: center;
		font-style: italic;
		> div {
			display: inline-block;
			margin: 2px;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 90%;
			> a {
				display: inline-block;
				border: none;
				padding: 6px 12px;
			}
		}
	}
	// Filters
	#parts-filters {
		border-bottom: 1px dashed;
		.panel {
			background-color: transparent;
			box-shadow: none;
			border: none;
			border-top: 1px dashed;
			.panel-heading {
				padding: 0;
				a {
					display: block;
					padding: 10px 0;
					font-family: 'Montserrat', sans-serif;
					font-weight: bold;
					font-style: italic;
					font-size: 15px;
					span {
						font-family: 'Montserrat', sans-serif;
						font-weight: normal;
						display: inline-block;
						margin: 0 5px;
						font-size: 80%;
						&:before {content: '('}
						&:after {content: ')'}
					}
					&:before {
						font-family: 'FontAwesome';
						display: inline-block;
						width: 15px;
						margin-right: 5px;
						content: '\f107';
					}
					&.collapsed {
						&:before {
							content: '\f105';
						}
					}
				}
			}
			& + .panel {
				margin-top: 0;
			}
			.panel-collapse {
				&.collapse.in, &.collapsing {
					.panel-body {
						border-top: 1px dashed;
						padding: 0;
						.row {
							margin: 0 -5px;
							div[class^="col-"] {
								padding: 5px;
								.btn-cta {
									margin-top: 5px;
									margin-bottom: 0;
								}
							}
						}
					}
				}
				.list-unstyled{
					margin-bottom: 0;
					padding-left: 0;
					> li {
						> label {
							display: inline-block;
							width: 100%;
							padding: 7px 0 7px 20px;
							margin-bottom: 0;
							cursor: pointer;
							input[type="checkbox"] {
								& + span:before {
									vertical-align: middle;
									font-family: 'FontAwesome';
									display: inline-block;
									width: 15px;
									margin-right: 5px;
									content: '\f096';
								}
								&:checked + span:before {
									content: '\f046';
								}
							}
						}
					}
				}
			}
		}
	}
	// Search
	#search-products-by-attributes-form {
		.row {
			margin: 0 -5px;
			> .col-sm-6 {
				padding: 0 5px;
			}
		}
	}
	// Search
	.nav.nav-tabs {
		border-bottom: none;
		@media #{$oxs}{margin-top: -45px;}
		> li {
			float: right;
			text-align: center;
			@media #{$xs}{
				width: 50%;
				font-size: 90%;
			}
			> a {
				border: none;
				font-style: italic;
				margin: 0;
				padding: 14px 28px;
				line-height: 1.1em;
				@media #{$xs}{padding: 8px 16px;}
				strong {
					font-family: 'Montserrat', sans-serif;
					font-weight: bold;
				}
			}
		}
	}

	.tab-content {
		margin-bottom: 20px;
		@media #{$xs}{
			margin-bottom: 15px;
		}
		.tab-pane {
			font-style: italic;
			padding: 20px;
			.form-control {
				@media #{$usm}{
					margin-bottom: 5px;
				}
			}
			.btn-cta {margin: 0;}
			p {margin-bottom: 10px;}
			p.small {
				margin-top: 10px;
				margin-bottom: 0;
				opacity: 0.8;
			}
		}
		#attributes-search {
			background-image: image-url("tires-sizes.png");
			background-repeat: no-repeat;
			background-size: 175px auto;
			@media #{$oxs}{
				padding-left: 200px;
				background-position: 15px bottom;
			}
			@media #{$xs}{
				padding-bottom: 80px;
				background-position: center bottom;
				#search-products-clean-filters {
					position: absolute;
					visibility: hidden;
					opacity: 0;
				}
			}
			@media #{$xxs} {
				padding-top: 10px;
				font-size: 90%;
				padding-bottom: 65px;
				background-size: 140px auto;
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Product Detail
//////////////////////////////////////////////////////////

.catalog {
	.product-image {
		position: relative;
		margin: 20px 0 0;
		padding: 15px 0;
		text-align: center;
		border: 1px solid;
		.img-responsive {
			display: inline-block;
			max-height: 200px;
		}
		@media #{$xs}{
			padding: 15px 0;
			.img-responsive {
				max-height: 150px;
				margin: 0 auto;
			}
		}
		@media #{$xxs}{
			padding: 10px 0;
			.img-responsive {
				max-height: 120px;
			}
		}
	}
	.product-description {
		text-align: left;
		@media #{$xs}{
			text-align: left;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin: 20px 0;
			li {
				margin-bottom: 5px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			opacity: 0.6;
		}
		iframe {
			width: 100% !important;
		}
	}
	.product-table {
		.table {
			margin: 20px 0;
			width: 100%;
			@media #{$xs}{margin: 0;}
			table-layout: fixed;
			th, td {
				border-right: none;
				border-left: none;
				vertical-align: middle;
				text-align: right;
				&:first-child {text-align: left;}
			}
			th {
				text-transform: uppercase;
				font-size: 80%;
				border-bottom-width: 1px;
			}
			td {
				padding: 0;
				font-style: italic;
				opacity: 0.8;
				a, .branch-name {
					display: block;
					padding: 12px 8px;
					@media #{$xs}{
						padding: 8px;
						font-size: 90%;
					}
					> .branch-box {
						display: inline-block;
						width: 50%;
						vertical-align: middle;
						text-align: left;
						&:last-child {
							text-align: right;
						}
					}
				}
				.btn {
					min-width: 100px;
					padding: 5px 10px;
				}
				.popover {
					@extend .special-popover;
					@media #{$xs}{
						display: none!important;
					}
				}
				&:first-child {
					font-size: 115%;
					opacity: 1;
				}
				&:last-child {
					opacity: 1;
				}
			}
			tr {
				&:first-child, &.active {
					> td.branch-price {
						font-family: 'Montserrat', sans-serif;
					}
				}
			}
		}
	}
	.single-promo.slick-slide {
		.promo-image .brand-logo {
			position: absolute;
			top: 15px;
			right: 0;
			width: 70px;
			height: auto;
			@media #{$xs}{
				top: 35px;
			}
		}
	}
}
.promos {
	margin-top: 20px;
}
.main-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: italic;
	opacity: 0.6;
	margin-top: 25px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: block;
}

//////////////////////////////////////////////////////////
// Product Brands
//////////////////////////////////////////////////////////

.brand {
	&.michelin,
	&.pirelli,
	&.goodyear,
	&.nexen,
	&.firestone,
	&.bridgestone,
	&.continental,
	&.yokohama,
	&.hankook,
	&.toyo,
	&.dunlop,
	&.westlake,
	&.achilles,
	&.goodride,
	&.linglong,
	&.aplus,
	&.aeolus,
	&.windforce,
	&.bfgoodrich,
	&.aptany,
	&.durun {
		display: block;
		height: 25px;
		width: 100%;
		color: transparent;
		font-size: 0!important;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: auto 25px;
	}
	&.michelin {background-image: image-url("brands/michelin.png");}
	&.pirelli {background-image: image-url("brands/pirelli.png");}
	&.goodyear {background-image: image-url("brands/goodyear.png");}
	&.nexen {background-image: image-url("brands/nexen.png");}
	&.firestone {background-image: image-url("brands/firestone.png");}
	&.bridgestone {background-image: image-url("brands/bridgestone.png");}
	&.continental {background-image: image-url("brands/continental.png");}
	&.yokohama {background-image: image-url("brands/yokohama.png");}
	&.hankook {background-image: image-url("brands/hankook.png");}
	&.toyo {background-image: image-url("brands/toyo.png");}
	&.dunlop {background-image: image-url("brands/dunlop.png");}
	&.westlake {background-image: image-url("brands/westlake.png");}
	&.achilles {background-image: image-url("brands/achilles.png");}
	&.goodride {background-image: image-url("brands/goodride.png");}
	&.linglong {background-image: image-url("brands/ling-long.png");}
	&.aplus {background-image: image-url("brands/aplus.png");}
	&.aeolus {background-image: image-url("brands/aeolus.png");}
	&.windforce {background-image: image-url("brands/windforce.png");}
	&.bfgoodrich {background-image: image-url("brands/bfgoodrich.png");}
	&.aptany {background-image: image-url("brands/aptany.png");}
	&.durun {background-image: image-url("brands/durun.png");}
}
