//////////////////////////////////////////////////////////
// Site Color Variables
//////////////////////////////////////////////////////////

// Base Colors
$back-color: #fff; // Blanco
$main-color: #0a82af; // Celeste
$side-color: #eed926; // Amarillo
$dark-color: #282826; // Azul oscuro
$light-color: #edf4f3; // Celeste claro