//////////////////////////////////////////////////////////
// Site Color Variables
//////////////////////////////////////////////////////////

// Base Colors
$back-color: #434155; // Azul oscuro
$main-color: #fff ; // Blanco
$side-color: #b82d24; // Rojo
$dark-color: #fff; // Blanco
$light-color: #343543; // Azul

$font1: 'Exo 2', sans-serif; // Texo Regular
$font2: 'Exo', sans-serif; // Títulos