//////////////////////////////////////////////////////////
// Site Color Variables
//////////////////////////////////////////////////////////

// Base Colors
$back-color: #2B303D; // Azul oscuro
$main-color: #fff ; // Blanco
$side-color: #B20C27; // Rojo
$dark-color: #fff; // Blanco
$light-color: #393E4C; // Azul

$font1: 'Exo 2', sans-serif; // Texo Regular
$font2: 'Exo', sans-serif; // Títulos