@import 'helpers';

//////////////////////////////////////////////////////////
// Layout
//////////////////////////////////////////////////////////

.fixed-xs {
	@media #{$xs} {
		position: fixed;
		z-index: 1;
		top: 15px;
		left: 0;
	}
}
#header {
	.navbar-toggle {
		height: 40px;
		margin: 0;
		padding: 0 15px;
		font-size: 150%;
		position: relative;
		top: -8px;
		right: -15px;
	}
}
#mm-navbar {
	.nav.navbar-nav {
		display: block;
		text-align: right;
		float: none;
		@media #{$xs} {
			text-align: center;
		}
		> li {
			display: inline-block;
			float: none;
			@media #{$xs} {
				display: block;
			}
			> a {
				padding: 8px 10px;
				text-transform: uppercase;
				&:hover, &:active, &:focus {
					background-color: transparent;
				}
				@media #{$md} {
					padding: 8px 7px;
					font-size: 92%;
				}
				@media #{$sm} {
					padding: 8px 5px;
					font-size: 86%;
				}
			}
		}
	}
}
body.home {
	overflow: hidden;
	#wrapper {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		@media #{$xs} {
			display: none;
		}
	}
	// Checkbox
	label.checkbox {
		input[type="checkbox"] {
			+ span {
				&:before, &:after {
					width: 30px;
					height: 30px;
					padding: 4px;
					border-radius: 50%;
					display: inline-block;
					vertical-align: middle;
					line-height: 22px;
					@include transition(all 0.2s ease-out);
				}
				&:before {
					font-family: 'Pe-icon-7-stroke';
					content: '\e66c';
					position: relative;
					margin-right: 5px;
					font-size: 150%;
					opacity: 0;
					text-align: center;
					text-indent: -1px;
					z-index: 2;
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					background: $side-color;
					border: 1px solid darken($side-color,5%);
				}
			}
			&:checked + span {
				color: $main-color;
				&:before {
					opacity: 1;
					content: '\e66c';
					color: $back-color;
				}
				&:after {
					background-color: $main-color;
					border-color: $main-color;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Dashboard
//////////////////////////////////////////////////////////

// Color over image backgrounds
section#section-parts {
	position: relative;
	@extend .cover-background;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	> .container {
		position: relative;
		z-index: 2;
	}
}

// Guideline
section#section-map {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 60px 0 50px;
	@media #{$xs} {
		padding: 0;
	}
	#center-map {
		position: fixed;
		bottom: 60px;
		left: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 5px;
		line-height: 30px;
		z-index: -1;
		border-width: 1px;
		box-shadow: none;
		border-style: solid;
		@include transition(left 0.3s ease-in-out);
		.fa {
			top: -2px;
			position: relative;
		}
		img {
			display: inline-block;
			width: 28px;
			height: 28px;
		}
	}
	#map {
		height: calc(100vh - 110px);
		width: 100%;
		position: relative;
		z-index: 0;
		.gm-svpc, .gmnoprint {
			@include transition(right 0.3s ease-in-out);
		}
		@media #{$oxs} {
			&.right-open {
				.gm-svpc, .gmnoprint {
					right: 250px!important;
				}
			}
		}
		@media #{$xs} {
			height: 100vh;
			.gm-svpc {
				display: none;
			}
			.gmnoprint {
				top: auto!important;
				bottom: -65px;
			}
		}
	}
	#floating-form {
		max-width: 800px;
		width: 60%;
		min-height: 74px;
		padding: 20px;
		top: 50%;
		left: 20%;
		margin-top: -52px;
		text-align: center;
		@media #{$lg} {
			left: 50%;
			margin-left: -400px;
		}
		@media #{$xs} {
			margin-top: -112px;
		}
		.form-menu {
			.btn {
				@media #{$usm} {
					margin-top: 8px;
				}
			}
		}
		.form-inline {
			display: table;
			width: 100%;
			@media #{$xs} {
				display: block;
			}
			.form-group {
				display: table-cell;
				width: 33.333%;
				padding: 0 10px;
				.btn {
					@media #{$lg} {min-width: 240px;}
					@media #{$md} {min-width: 170px;}
					@media #{$xs} {margin-top: 15px;}
				}
				@media #{$xs} {
					display: block;
					width: 100%;
					margin-bottom: 5px;
					padding: 0 5px;
				}
				.form-control {
					width: 100%;
					option {
						color: $main-color;
						font-family: 'Exo 2', sans-serif;
					}
				}
			}
		}
		&.next-step {
			min-height: 0;
			padding: 0;
		}
	}
	#left-map, #right-map {
		width: 220px;
		height: auto;
		top: 0;
		padding: 90px 0 0;
		@media #{$xs} {
			padding-top: 70px;
			&.open {width: 100%;}
		}
		.open-sidebar {
			display: inline-block;
			width: 50px;
			height: 40px;
			position: fixed;
			top: 90px;
			border-radius: 0 5px 5px 0;
			text-align: center;
			line-height: 26px;
			font-size: 16px;
			padding: 5px;
			z-index: 4;
		}
		.close-sidebar {
			position: absolute;
			right: 10px;
			top: 70px;
			width: 35px;
			height: 35px;
			padding: 5px;
			text-align: center;
			vertical-align: 20px;
			font-size: 120%;
			z-index: 3;
			opacity: 0.8;
			border-radius: 50%;
			&:hover, &:active, &:focus {
				opacity: 1;
			}
			@media #{$xs} {
				top: 75px;
			}
		}
		.panel-group {
			overflow-y: auto;
			overflow-x: hidden;
			border-top: 1px solid;
			margin-bottom: 0;
			.btn {
				&:not(.btn-link) {
					margin-top: 10px;
				}
				&.btn-link {
					padding-left: 0;
					padding-right: 0;
					text-align: left;
				}
				font-size: 95%;
			}
			.panel {
				box-shadow: none;
				background-color: transparent;
				border-bottom: 1px solid;
				margin-top: 0;
				.panel-heading {
					padding: 0;
					.panel-title {
						padding: 15px 15px;
						display: block;
						font-size: 85%;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				.panel-collapse {
					.panel-body {
						padding-top: 10px;
						box-shadow: none;
						border-top: none;
						.form-group {
							margin-bottom: 5px;
							.checkbox {
								margin-bottom: 4px;
								width: 100%;
								input[type="checkbox"] + span {
									display: block;
									&:before, &:after {
										width: 20px;
										height: 20px;
									}
									&:before {
										font-family: "FontAwesome";
										content: "\f00c";
										font-size: 12px;
										line-height: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#left-map {
		left: -220px;
		z-index: 2;
		@media #{$oxs} {
			max-height: calc(100% - 45px);
			.panel-group {
				max-height: calc(100vh - 166px);
			}
			@include transition(left 0.3s ease-in-out);
			.open-sidebar {
				.fa-chevron-down {
					display: none;
				}
			}
		}
		@media #{$xs} {
			@include transition(top 0.3s ease-in-out);
			left: 0;
			top: 100%;
			width: 100%;
			height: calc(100% - 40px);
			.panel-group {
				height: 100%;
			}
			.open-sidebar {
				.fa-chevron-down {
					display: none;
				}
			}
		}
		&.open {
			left: 0;
			@media #{$oxs} {
				#center-map {
					left: 230px;
				}
				.open-sidebar {
					left: 220px;
				}
			}
			@media #{$xs} {
				position: fixed;
				top: 0;
				#center-map {
					opacity: 0;
				}
				.open-sidebar {
					.fa-search {
						display: none;
					}
					.fa-chevron-down {
						display: inline-block;
					}
				}
			}
		}
		.open-sidebar {
			border-radius: 0 5px 5px 0;
			left: 0;
			@media #{$oxs} {
				@include transition(left 0.3s ease-in-out);
				.text {display: none;}
			}
			@media #{$xs} {
				@include transition(top 0.3s ease-in-out);
				border-radius: 0;
				bottom: 0;
				left: 0;
				position: fixed;
				z-index: 5;
				top: auto;
				width: 100%;
				.text {
					display: inline-block;
					margin-left: 5px;
					font-size: 90%;
				}
			}
		}
		#uncheck-checkboxes {
			margin-bottom: 10px;
		}
	}
	#right-map {
		right: -220px;
		z-index: 3;
		max-height: calc(100% - 60px);
		&.open {
			right: 0;
			.open-sidebar {
				right: 220px;
				i.fa.fa-angle-left {display: none;}
				i.fa.fa-angle-right {display: inline-block;}
			}
			@media #{$xs} {
				top: 0;
			}
		}
		@media #{$oxs} {
			.panel-group {
				max-height: calc(100vh - 150px);
			}
			@include transition(right 0.3s ease-in-out);
		}
		@media #{$xs} {
			@include transition(top 0.3s ease-in-out);
			left: 0;
			top: 100%;
			width: 100%;
			max-height: calc(100% - 40px);
			overflow-y: auto;
			.panel-group {
			    max-height: calc(100vh - 110px);
			    .panel {
					.panel-heading {
						.panel-title {
							padding-right: 45px;
						}
					}
				}
			}
			&.open {
				position: fixed;
			}
		}
		.open-sidebar {
			border-radius: 5px 0 0 5px;
			right: 0;
			i.fa.fa-angle-right {display: none;}
			@media #{$xs} {
				display: none;
				top: 130px;
			}
		}
		.single-info {
			line-height: 1.1em;
			font-size: 89%;
			@media #{$xs} {
				font-size: 95%;
			}
			.img {
				display: inline-block;
				padding: 10px 15px 0;
				margin: 0;
				width: 100%;
				text-align: center;
				img {
					display: inline-block;
					vertical-align: top;
					max-width: 159px;
					max-height: 135px;
					@media #{$xs} {
						max-width: 220px;
						max-height: 165px;
					}
				}
				strong {
					display: inline-block;
					width: 100%;
					margin-top: 10px;
				}
				/*&:hover, &:active {
					background-color: $main-color;
					color: $back-color;
				}*/
			}
		}
		.button-holder {
			a {margin-bottom: 8px;}
			a:last-child {margin-bottom: 0;}
		}
		.single-detail {
			display: inline-block;
			width: 100%;
			padding: 10px 15px;
			line-height: 1.1em;
			font-size: 89%;
			@media #{$xs} {
				font-size: 95%;
			}
			img {
				width: 47%;
				float: left;
				margin: 0 10px 0 0;
				@media #{$xs} {
					max-width: 188px;
				}
			}
		}
		.panel-group {
			.panel {
				.panel-collapse {
					.panel-body {
						padding: 0;
						.list-unstyled {
							margin-bottom: 0;
							li.button-holder {
								padding: 10px;
								.btn {
									margin-top: 0;
									padding-left: 10px;
									padding-right: 10px;
									font-size: 90%;
								}
							}
						}
					}
				}
			}
		}
	}
	.map-form {
		position: absolute;
		z-index: 1;
		@include transition(all 0.3s ease-in-out);
		.form-control {
			border-top: none;
			border-right: none;
			border-left: none;
			box-shadow: none;
			padding-right: 0;
			padding-left: 0;
		}
		&.next-step {
			opacity: 0;
			height: 0;
			overflow: hidden;
		}
	}
	.lead {
		display: inline-block;
		margin-bottom: 0;
		font-size: 16px;
		line-height: 1em;
		font-weight: bold;
		padding: 0;
		margin-bottom: 14px;
		@media #{$xs} {padding-top: 0;}
	}
	.small {
		opacity: 0.8;
		line-height: 1.3em;
		display: inline-block;
	}
	#map-search.panel-group,
	#marker-detail.panel-group {
		position: relative;
	}
}

// Quote Modal
#quote-modal {
	.modal-header {
		.modal-title {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			.fa {
				margin-right: 5px;
				opacity: 0.5;
			}
		}
		.btn {
			text-decoration: none;
			&:hover, &:active, &:focus {
				box-shadow: none;
			}
		}
	}
	.modal-selector {
		padding: 0 15px;
		text-align: center;
		.toggle-filter {
			margin: 15px 5px 34px;
		}
	}
	.modal-body {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 0;
		.quote-selector, .quote-detail {
			display: table-cell;
			@media #{$xs}{display: table;}
		}
		.quote-selector {
			position: relative;
			width: 40%;
			@media #{$sm}{width: 50%;}
			@media #{$xs}{width: 100%;}
			> ul {
				margin-bottom: 0;
				margin-top: 62px;
				overflow-x: hidden;
				overflow-y: auto;
				max-height: 500px;
				@media #{$xs}{max-height: 127px;}
				> li {
					border-bottom: 1px solid;
					display: table;
					table-layout: fixed;
					width: 100%;
					line-height: 1.3em;
					position: relative;
					&:after {
						position: absolute;
						right: 5px;
						top: 50%;
						font-family: 'FontAwesome';
						content: '\f105';
						width: 10px;
						height: 20px;
						margin-top: -10px;
						text-align: center;
						opacity: 0.4;
					}
					&:not(.active):last-child {border-bottom: none;}
					a {
						display: table-row;
						width: 100%;

						> div {
							display: table-cell;
							padding: 8px 6px;
							min-height: 58px;
							vertical-align: middle;
							&.prices {
								text-align: right;
								padding-right: 30px;
							}
							&.lender {
								padding-left: 15px;
								font-style: italic;
							}
							> span {
								display: inline-block;
								width: 100%;
								&.name, &.special {
									font-size: 120%;
								}
								&.location, &.normal {
									font-size: 80%;
									opacity: 0.7;
								}
								&.normal {
									text-decoration: line-through;
								}
							}
						}
					}
					&.active {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						.special {
							font-family: 'Exo', sans-serif;
						}
					}
				}
			}
		}
		.quote-detail {
			width: 60%;
			@media #{$sm}{width: 50%;}
			@media #{$xs}{width: 100%;}
			padding: 15px 25px;
			vertical-align: top;
			.button-holder {
				margin-bottom: 15px;
				text-align: center;
				.btn {
					display: inline-block;
					width: 46%;
					margin: 0 2%;
					font-size: 85%;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
			.list-unstyled {
				margin-bottom: 0;
				@media #{$lg}{
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 20px;
					-moz-column-gap: 20px;
					column-gap: 20px;
				}
				@media #{$xs}{
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 20px;
					-moz-column-gap: 20px;
					column-gap: 20px;
				}
				@media #{$xxs}{
					-webkit-column-count: auto;
					-moz-column-count: auto;
					column-count: auto;
					-webkit-column-gap: normal;
					-moz-column-gap: normal;
					column-gap: normal;
				}
				> li {
					-webkit-column-break-inside: avoid;
					page-break-inside: avoid;
					break-inside: avoid-column;
					display:table;
					position: relative;
					line-height: 1.2em;
					padding: 5px 0 5px 20px;
					opacity: 0.5;
					font-size: 14px;
					@media #{$xxs}{font-size: 13px;}
					@include transition(all 0.6s ease-in-out);
					&.active {
						opacity: 1;
						&:before {
							opacity: 1;
						}
					}
					&:before {
						position: absolute;
						top: 5px;
						left: 0;
						display: inline-block;
						font-family: 'FontAwesome';
						content: '\f00c';
						opacity: 0;
					}
				}
			}
		}
	}
}

// Contact Modal
.modal {
	.modal-body {
		font-size: 120%;
		padding: 45px;
		@media #{$xs} {padding: 45px 15px;}
		.how-much {font-size: 130%;}
		.value {font-family: 'Exo', sans-serif;}
		.what, .how-much, .for-what {
			display: inline;
			padding-right: 5px;
			width: auto;
		}
	}
	.modal-footer {
		form {
			input[type="checkbox"] {
				margin-top: 0;
				margin-right: 5px;
			}
		}
	}
}

// Toggle filter
.toggle-filter {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid;
	margin: 5px 5px 24px;
	font-size: 0;
	border-radius: 2rem;
	font-style: italic;
	em {
		position: absolute;
		display: inline-block;
		font-size: 11px;
		width: 100%;
		bottom: -18px;
		text-align: center;
	}
	&:hover, &:active, &:focus {
		cursor: pointer;
	}
	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		margin-top: 0;
	}
	> span {
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		letter-spacing: -0.01em;
		padding: 8px 12px;
		border-radius: 2rem;
		@include transition(all 0.3s ease-in-out);
	}
}

// Info Modal
#map-info {
	.modal-body {
		font-size: 100%;
		padding: 20px;
		.nav {
			font-family: 'Exo', sans-serif;
		}
		.well {
			margin-bottom: 0;
		}
		.tab-content {
			padding-top: 20px;
		}
		.list-unstyled {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
			@media #{$sm} {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
			}
			@media #{$xs} {
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
			}
			li {
				margin-bottom: 4px;
				span {
					font-family: 'Exo', sans-serif;
				}
			}
		}
		.marker-image {
			display: inline-block;
			vertical-align: middle;
			width: 28px;
			height: auto;
			margin-right: 4px;
		}
	}
}