@import 'colors';
@import 'helpers';

//////////////////////////////////////////////////////////
// Skin
//////////////////////////////////////////////////////////

// General
body {
	color: $dark-color;
	background-color: $back-color;
}
hr {border-top-color: $side-color;}
a {
	color: $main-color;
	&:hover, &:active, &:focus {
		color: darken($main-color, 10%);
	}
}
// Selection
::-moz-selection {
	background: $main-color;
	color: $back-color;
}
::selection {
	background: $main-color;
	color: $back-color;
}
// Place Holder
::-webkit-input-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
:-moz-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
::-moz-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
:-ms-input-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
// Button
.btn.btn-cta {
	color: $dark-color;
	background-color: $side-color;
	&:hover, &:active, &:focus {
		color: $dark-color;
		background-color: daken($side-color,10%);
	}
	&.btn-ghost {
		color: $side-color;
		border-color: $side-color;
		background: transparent;
		&:hover, &:active, &:focus {
			color: $dark-color;
			background-color: $side-color;
		}
	}
}
.btn {
	&:not(.btn-link) {
		border-color: rgba($dark-color, 0.1);
		box-shadow: 3px 3px 0 rgba($dark-color,0.2);
		&:hover, &:active, &:focus {
			border-color: rgba($dark-color, 0.2);
		}
	}
	&.btn-link {
		color: $main-color;
		&:hover, &:active, &:focus {
			color: darken($main-color, 10%);
		}
	}
}
// Slick
.slick-arrow {
	color: $dark-color;
}
// Layout
#header {
	.form-control {color: $back-color;}
	.input-group {
		.input-group-addon {
			color: $back-color;
			border-color: $back-color;
		}
	}
	&:after {border-color: rgba($dark-color,0.9) transparent transparent transparent;}
}
#footer {
	&:before {border-color: transparent transparent rgba($dark-color,0.9) transparent;}
}
#footer, #header {
	background-color: rgba($dark-color,0.9);
	color: $light-color;
	a {
		color: $light-color;
		&:hover, &:active, &:focus {
			color: $main-color;
		}
	}
}
// Home
section#section-guideline {
	background-image: url(guideline-background.jpg);
	&:after {
		background: $main-color;
		background: rgba($main-color,0.93);
		background: -moz-linear-gradient(left, rgba(lighten($main-color,10%),0.93) 0%, rgba(darken($main-color,10%),0.93) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(lighten($main-color,10%),0.93) 0%,rgba(darken($main-color,10%),0.93) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(lighten($main-color,10%),0.93) 0%,rgba(darken($main-color,10%),0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	color: $back-color;
	#guideline-list {
		border-bottom-color: rgba($dark-color,0.25);
		h2:after {border-bottom-color: rgba($dark-color,0.25);}
		a {
			color: $back-color;
			.badge {
				background-color: $back-color;
				color: $main-color;
			}
			&:not(.disabled) {
				&:hover, &:active, &:focus {
					text-shadow: 0 2px 0 rgba($dark-color,0.2);
					.badge {box-shadow: 0 2px 0 rgba($dark-color,0.2);}
				}
			}
		}
	}
}
section#section-promos {
	background-color: $back-color;
	&:before {border-color: transparent transparent $back-color transparent;}
	&:after {border-color: $back-color transparent transparent transparent;}
}
section#section-parts {
	background-image: url(guideline-background.jpg);
	&:after {
		background: $light-color;
		background: rgba($light-color,0.93);
	}
	#part-list {
		li {
			a {
				border-color: $dark-color;
				color: $dark-color;
			}
		}
	}
}

.promo-image-text {
	background-color: rgba($dark-color, 0.8);
	color: $back-color;
}
.promo-description {
	color: $dark-color;
	h6 {color: $main-color;}
	span {color: lighten($dark-color, 15%)}
}

.single-part {
	background-color: rgba($back-color, 0.8);
	> div.single-part-text {
		color: $dark-color;
	}
	&:hover, &:active, &:focus {
		box-shadow: 0 2px 0 rgba($dark-color,0.2);
	}
}
// Modal
.modal {
	.modal-content {
		box-shadow: 5px 5px 0 rgba($dark-color,0.2);
	}
}
.modal-backdrop {
	background-color: $dark-color;
}