@import 'colors';
@import 'helpers';

//////////////////////////////////////////////////////////
// Skin
//////////////////////////////////////////////////////////

// General
body {
	color: $dark-color;
	background: $light-color;
}
hr {border-top-color: $side-color;}
a {
	color: $main-color;
	&:hover, &:active, &:focus {
		color: darken($main-color, 10%);
	}
}
// Selection
::-moz-selection {
	background: $main-color;
	color: $back-color;
}
::selection {
	background: $main-color;
	color: $back-color;
}
// Place Holder
::-webkit-input-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
:-moz-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
::-moz-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
:-ms-input-placeholder {
	@extend .placeholder;
	color: rgba($dark-color, 0.6);
}
@-webkit-keyframes autofill {
    to {
        color: $back-color;
        background: transparent;
    }
}
// Button
.btn.btn-cta {
	color: darken($main-color,5%);
	background-color: lighten(desaturate($side-color,10%), 10%);
	&:hover, &:active, &:focus {
		color: $dark-color;
		background-color: daken(saturate($side-color,20%),20%);
		box-shadow: 0 0 20px rgba($side-color,0.9);
	}
	&.btn-ghost {
		color: $side-color;
		border-color: $side-color;
		background: transparent;
		&:hover, &:active, &:focus {
			color: $dark-color;
			background-color: $side-color;
		}
	}
}
.btn {
	&:not(.btn-link) {
		border-color: rgba($dark-color, 0.1);
		box-shadow: 3px 3px 0 rgba($dark-color,0.2);
		&:hover, &:active, &:focus {
			border-color: rgba($dark-color, 0.2);
		}
	}
	&.btn-link {
		color: $main-color;
		&:hover, &:active, &:focus {
			color: darken($main-color, 10%);
		}
	}
	&.btn-ghost {
		color: $main-color;
		border-color: $main-color;
		background: transparent;
		&:hover, &:active, &:focus {
			color: $light-color;
			background-color: $main-color;
		}
	}
}
// Slick
.slick-arrow {
	color: $dark-color;
}
// Layout
#header {
	.form-control {color: $back-color;}
	.input-group {
		.input-group-addon {
			color: $back-color;
			border-color: $back-color;
		}
	}
	&:after {border-color: rgba($dark-color,0.95) transparent transparent transparent;}
	.btn-special {
		color: lighten($main-color, 20%);
		border-color: lighten($main-color, 20%);
		&:hover, &:active, &:focus {
			color: $dark-color;
			border-color: lighten($main-color, 20%);
			background-color: lighten($main-color, 20%);
		}
	}
}
#footer {
	&:before {border-color: transparent transparent rgba($dark-color,0.95) transparent;}
}
#footer, #header {
	background-color: rgba($dark-color,0.95);
	color: $light-color;
	a {
		color: $light-color;
		&:hover, &:active, &:focus {
			color: $main-color;
		}
	}
}

// Home
#wrapper.homepage {
	background-image: image-url("guideline-background.jpg");
	&:after {
		background: $light-color;
		background: rgba($light-color,0.94);
	}
}
#home-upper {
	background-image: image-url("background-image.jpg");
	&:after {
		background: $main-color;
		background: rgba($main-color,0.93);
		background: -moz-linear-gradient(left, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		box-shadow: inset 0 0 200px rgba(darken($main-color,10%),0.4);
	}
	color: $back-color;
}
#home-middle {
	background-color: $dark-color;
	&:before {border-color: transparent transparent $dark-color transparent;}
	&:after {border-color: $dark-color transparent transparent transparent;}
	.form-control {color: $back-color;}
	.input-group {
		.input-group-addon {
			color: $back-color;
		}
	}
	.form-control, .input-group-addon {
		border-color: $back-color;
		border-color: rgba($back-color,0.5);
	}
}


// Dashboard
section#section-guideline {
	background-image: image-url("background-image.jpg");
	&:after {
		background: $main-color;
		background: rgba($main-color,0.93);
		background: -moz-linear-gradient(left, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(lighten($main-color,15%),0.94) 0%, rgba(darken(saturate($main-color, 10%),10%),0.94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		box-shadow: inset 0 0 200px rgba(darken($main-color,10%),0.4);
	}
	color: $back-color;
	#guideline-list {
		border-bottom-color: rgba($dark-color,0.25);
		h2:after {border-bottom-color: rgba($dark-color,0.25);}
		a {
			color: $back-color;
			.badge {
				background-color: $back-color;
				color: $main-color;
			}
			&:not(.disabled) {
				&:hover, &:active, &:focus {
					text-shadow: 0 2px 0 rgba($dark-color,0.2);
					.badge {box-shadow: 0 2px 0 rgba($dark-color,0.2);}
				}
			}
		}
		.popover {
			color: $dark-color;
			box-shadow: 3px 3px 0 rgba($dark-color,0.2);
		}
	}
}
section#section-promos {
	background-color: $back-color;
	&:before {border-color: transparent transparent $back-color transparent;}
	&:after {border-color: $back-color transparent transparent transparent;}
}
section#section-parts {
	background-image: image-url("guideline-background.jpg");
	&:after {
		background: $light-color;
		background: rgba($light-color,0.94);
	}
	#part-list {
		li {
			a {
				border-color: $dark-color;
				color: $dark-color;
				background-color: $back-color;
			}
		}
	}
}

.promo-image-text {
	background-color: rgba($dark-color, 0.8);
	color: $back-color;
}
.promo-description {
	color: $dark-color;
	h6 {color: $main-color;}
	span {color: lighten($dark-color, 15%)}
}

.single-part {
	background-color: rgba($back-color, 0.8);
	> div.single-part-text {
		color: $dark-color;
	}
	&:hover, &:active, &:focus {
		box-shadow: 3px 3px 0 rgba($dark-color,0.2);
	}
}

// Catalog
.catalog {
	background-color: $light-color;
}
// Promo
.catalog {
	.collapse-button {
		color: lighten($dark-color,15%);
		&:hover, &:active, &:focus {
			color: lighten($dark-color,15%);
		}
		@media #{$xs}{
			border-color: lighten($dark-color,25%);
			&:hover, &:active, &:focus {
				background-color: lighten($dark-color,25%);;
				color: $light-color;
			}
		}
	}
	#collapse-list {
		background-color: $light-color;
		@media #{$xs}{
			box-shadow: 3px 3px 0 rgba($dark-color,0.2);
		}
	}
	span.promo-price {color: $main-color;}
	.promo-list, .part-list {
		> li {
			a {
				background-color: $back-color;
				color: $dark-color;
				h6 {color: $dark-color;}
				&:hover, &:active, &:focus {
					box-shadow: 3px 3px 0 rgba($dark-color,0.2);
				}
			}
		}
	}
}
// Product
.catalog {
	.product-image {
		background-color: $back-color;
		border-color: darken($light-color,5%);
	}
	.product-table {
		tr {
			&:first-child, &.active {
				> td {
					background-color: rgba($back-color,0.6);
					color: $main-color;
					.btn.btn-ghost {
						color: darken($main-color,5%);
						background-color: lighten(desaturate($side-color,10%), 10%);
						box-shadow: 3px 3px 0 rgba($dark-color,0.2)!important;
						border-color: rgba($dark-color, 0.1);
						&:hover, &:active, &:focus {
							color: $dark-color;
							background-color: daken(saturate($side-color,20%),20%);
							box-shadow: 0 0 20px rgba($side-color,0.9)!important;
							border-color: rgba($dark-color, 0.2);
						}
					}
				}
			}
		}
	}
	// Filters
	#parts-filters {
		border-bottom-color: rgba($dark-color,0.1);
		.panel {
			border-top-color: rgba($dark-color,0.1);
			.panel-heading
				a {
					color: rgba($dark-color,0.8);
					&:not(.collapsed) {color: $main-color;}
				}
			.panel-collapse {
				&.collapse.in, &.collapsing {
					.panel-body {
						border-top-color: rgba($dark-color,0.1);
					}
				}
				label {
					input[type="checkbox"] {
						&:checked + span {
							color: $main-color;
						}
					}
					&:hover, &:active, &:focus {
						input[type="checkbox"] + span {
							color: $main-color;
						}
					}
				}
			}
		}
	}
	// Search
	.nav.nav-tabs {
		> li {
			&.active {
				> a {
					background-color: darken($light-color,10%);
				}
			}
			&:not(.active) {
				> a {
					color: $main-color;
					&:hover, &:active, &:focus {
						background-color: $main-color;
						color: $back-color;
					}
				}
			}
		}
	}
	.tab-content {
		.tab-pane {
			background-color: darken($light-color,10%);
		}
	}
}
// Modal
.modal {
	.modal-header {
		background-color: $dark-color;
		color: $light-color;
		.close {
			color: $light-color;
			text-shadow: none;
			padding: 5px;
			width: 30px;
			height: 30px;
			line-height: 20px;
			text-align: center;
		}
		.btn {
			color: $light-color;
			&.active {
				color: $side-color;
			}
		}
	}
	.modal-content {
		box-shadow: 5px 5px 0 rgba($dark-color,0.2);
	}
	.modal-footer {
		background-color: $light-color;
		.form-control {
			background-color: $back-color
		}
	}
}
.modal-backdrop {
	background-color: $dark-color;
}
#quote-modal {
	.modal-selector {
		background-color: lighten($dark-color, 10%);
		color: $light-color;
	}
	.modal-body {
		.quote-selector {
			> ul {
				> li {
					border-color: darken($light-color, 10%);
					a {
						color: $dark-color;
						&:hover, &:active, &:focus {
							background-color: $light-color;
						}
					}
					&.active a {
						color: darken($main-color,4%);
						background-color: $light-color;
					}
				}
			}
		}
		.quote-detail {
			background-color: $light-color;
			ul > li {
				color: darken($main-color,4%);
			}
		}
	}
}

// Toggle filter
.toggle-filter {
	border-color: $light-color;
	box-shadow: inset 0 0 10px rgba($dark-color,0.5);
	input[type="checkbox"] {
		& + span {
			background-color: $light-color;
			color: $dark-color;
		}
		&:checked {
			& + span {
				background-color: transparent;
				color: $light-color;
				& + span {
					background-color: $light-color;
					color: $dark-color;
				}
			}
		}
	} 
}