.error{
  border: 1px solid red !important;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20001;
  width: 50px;
  height: 50px;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:20000;
    overflow: auto;
}

.loading-time{
  opacity: 0.95;
}

.tooltip-separator{
  line-height: 200%;
}

h4.modal-title img{
  width: 25%;
}

input.accept-terms-check.error {
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 -webkit-animation-name: flash;
 animation-name: flash;
}
@-webkit-keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}
@keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}

#map-search.panel-group .bs-searchbox input{
  color: blue;
}

#map-search.panel-group .no-results{
 color: blue;
}