.error{
  border: 1px solid red !important;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20001;
  width: 50px;
  height: 50px;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:20000;
    overflow: auto;
}

.loading-time{
  opacity: 0.95;
}

.tooltip-separator{
  line-height: 200%;
}