@import 'helpers';
@import 'resets';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:300');
@import url('https://fonts.googleapis.com/css?family=Exo:700');

// Layout Variables
$header-height: 50px;
$footer-height: 45px;

//////////////////////////////////////////////////////////
// General Styles
//////////////////////////////////////////////////////////
html{
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
	white-space: normal;
	line-height: 1.4;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	min-width: 320px;
}
label {font-weight: 300;}
h1, h2, dt {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	font-style: italic;
}
h3, h4, h5, h6 {font-weight: 300;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;}
// Anchors
a {
	text-decoration: none;
	outline: none !important;
	-moz-outline-style: none !important;
	-webkit-outline-style: none !important;
	&:hover, &:active, &:focus {
		cursor: pointer;
		text-decoration: none;
	}
}

//////////////////////////////////////////////////////////
// Animation
//////////////////////////////////////////////////////////

a,
button,
.btn,
input,
select,
label,
textarea {
	@include transition(all 0.3s ease-in-out);
}

//////////////////////////////////////////////////////////
// Bootstrap Reset
//////////////////////////////////////////////////////////

.well, .breadcrumb {
	box-shadow: none;
	border: none;
}
.alert-link, .badge {font-weight: 300;}
.alert {
	border-radius: 0;
	border: none;
	text-align: center;
	margin-bottom: 0;
	strong {
		font-weight: 400;
	}
}
// Popover
.popover {
	border-radius: 0;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	width: 200px;
	border: none;
	line-height: 1.2em;
	.popover-content {
		padding: 10px;
		strong {
			font-family: 'Exo', sans-serif;
		}
	}
	&.bottom {
		margin-top: 18px;
		.arrow {
			top: -10px;
			&:after {
				top: 2px;
			}
		}	
	}
	&.top {
		margin-top: -15px;
		.arrow {
			bottom: -10px;
			&:after {
				bottom: 2px;
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Special Buttons
//////////////////////////////////////////////////////////

.btn {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	font-style: italic;
	&:not(.btn-link) {
		text-transform: uppercase;
		font-size: 90%;
		&:hover, &:active, &:focus {
			box-shadow: none;
		}
	}
	&.btn-ghost {
		box-shadow: none!important;
		@media #{$xxs}{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&.btn-link {
		font-weight: 300;
		font-family: 'Exo 2', sans-serif;
	}
}

//////////////////////////////////////////////////////////
// Forms
//////////////////////////////////////////////////////////

// Checkbox
.checkbox {
	display: inline-block;
	position: relative;
	margin-top: 0;
	margin-bottom: 15px;
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		visibility: hidden;
		+ label {
			padding-left: 0;
			font-weight: 300;
			color: $light-color;
			&:before, &:after {
				width: 30px;
				height: 30px;
				padding: 4px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				line-height: 22px;
				@include transition(all 0.2s ease-out);
			}
			&:before {
				font-family: 'Pe-icon-7-stroke';
				content: '\e66c';
				position: relative;
				margin-right: 5px;
				font-size: 150%;
				opacity: 0;
				text-align: center;
				text-indent: -1px;
				z-index: 2;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				background: $side-color;
				border: 1px solid darken($side-color,5%);
			}
		}
		&:checked + label {
			color: $main-color;
			&:before {
				opacity: 1;
				content: '\e66c';
				color: $back-color;
			}
			&:after {
				background-color: $main-color;
				border-color: $main-color;
			}
		}
	}
}
.search-patent input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

//////////////////////////////////////////////////////////
// Layout
//////////////////////////////////////////////////////////

body {
	> #wrapper {
		display: table;
		height: 100%;
		width: 100%;
		margin-bottom: -$footer-height;
		padding-bottom: $footer-height;
		@media #{$xs}{
			margin-bottom: -$footer-height + 30;
			padding-bottom: $footer-height - 30;
		}
		position: relative;
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

//////////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////////

#header {
	min-height: $header-height;
	padding: 15px 0 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	@media #{$xs}{
		padding-bottom: 0;
	}
	&:after {@extend .bottom-triangle;}
	div.text-right[class*='col-'] {
		@media #{$xs}{
			text-align: center;
		}
	}
	#logo {
		display: inline-block;
		max-width: 300px;
		margin: 6px 0;
		@media #{$sm}{
			margin: 10px 0;
    		max-width: 220px;
		}
		@media #{$xs}{
			width: 100%;
			text-align: center;
			margin: 0;
			max-width: none;
			img {
				display: inline-block;
				max-width: 190px;
			}
		}
	}
	.form-group {
		width: 33%;
		padding: 0 10px;
		&:last-child {padding-right: 0;}
		@media #{$xs}{
			display: inline-block;
			vertical-align: top;
		}
		@media #{$xxs}{margin-bottom: 5px;}
		.form-control {
			padding-left: 0;
			padding-right: 0;
			border-width: 0 0 1px 0;
			width: 100%;
			&:focus {
				box-shadow: none;
			}
			&#search_patent {
				text-align: center;
			}
			&#search_kms {
				text-align: center;
			}
		}
	}
	.input-group {
		width: 100%;
		.input-group-addon {
			background-color: transparent;
			padding-left: 5px;
			padding-right: 0;
			border-width: 0 0 1px 0;
			opacity: 0.7;
		}
	}
	.btn-special {
		font-weight: 700;
		@media #{$lg}{
			strong {margin-left: 4px;}
		}
		@media #{$md}{
			width: 110px;
			white-space: normal;
			padding-top: 2px;
			padding-bottom: 5px; 
			font-size: 85%;
			line-height: 1.1em;
			strong {
				display: inline-block;
				width: 100%;
			}
		}
		@media #{$sm}{
			width: 90px;
			white-space: normal;
			padding-top: 2px;
			padding-bottom: 5px; 
			font-size: 85%;
			line-height: 1.1em;
			strong {
				display: inline-block;
				width: 100%;
			}
		}
		border: 1px solid;
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
	.list-inline {
		margin-bottom: 0;
		@media #{$oxs}{
			padding-top: 4px;
		}
		a {
			display: inline-block;
			padding: 5px 10px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: -0.01em;
		}
	}
}

//////////////////////////////////////////////////////////
// Titles
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
// Slick Carousels
//////////////////////////////////////////////////////////

.multiple-slider,
.multiple-products-slider {
	display: block;
	padding: 0 45px;
	.single-product {
		float: left;
		height: 100%;
		min-height: 1px;
		text-align: center;
		display: block;
	}
}

.slick-arrow {
	width: 45px;
	height: 45px;
	padding: 5px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	background-image: none;
	text-shadow: none;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	z-index: 1;
	> span[class^="fa"] {
		font-size: 32px;
		@include transition(all 0.6s ease-in-out);
	}
	&.right {right: 0;}
	&.left  {left: 0;}
	&:hover, &:active {
		opacity: 0.8;
	}
}

//////////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////////

#footer {
	min-height: $footer-height;
	padding: 6px 0 4px;
	position: relative;
	z-index: 1;
	@media #{$xs}{
		padding: 10px 0;
		min-height: $footer-height - 30;
		> .container > .row {
			> div:first-child {padding-right: 0}
			> div:last-child {padding-left: 0}
		}
	}
	position: relative;
	&:before {@extend .upper-triangle;}
	h6 {
		font-weight: 700;
		@media #{$xs}{margin: 15px 0 5px;}
	}
	ul, p {
		font-size: 90%;
		margin-bottom: 0;
		a {
			display: inline-block;
			padding: 8px 0;
			vertical-align: middle;
			min-height: 20px;
			@media #{$xxs}{
				padding: 6px 0 0 0;
			}
			@media #{$xxxs}{padding-top: 0;}
			&.acid {
				margin-left: 10px;
				padding: 0;
				> img {
					vertical-align: middle;
					height: 20px;
					@media #{$xs}{height: 18px;}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Modal
//////////////////////////////////////////////////////////

.modal {
	top:60px;
	.modal-content {
		border-radius: 0;
		.modal-header {
			border: none;
			.close {
				> span[class^="pe"] {
					font-size: 125%;
				}
			}
		}
		.modal-content {
			box-shadow: none;
			border: none;
			.popover {

			}
		}
	}
}
.modal-backdrop {
	&.in {
		opacity: 0.6;
	}
}