@import 'colors';
@import 'helpers';
@import 'resets';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:300');
@import url('https://fonts.googleapis.com/css?family=Exo:700');

// Layout Variables
$header-height: 80px;
$footer-height: 80px;

//////////////////////////////////////////////////////////
// General Styles
//////////////////////////////////////////////////////////
html, body {
	overflow-x: hidden;
}
body {
	white-space: normal;
	line-height: 1.4;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	min-width: 320px;
}
label {font-weight: 300;}
h1, h2, dt {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	font-style: italic;
}
h3, h4, h5, h6 {font-weight: 300;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;}
// Anchors
a {
	text-decoration: none;
	outline: none !important;
	-moz-outline-style: none !important;
	-webkit-outline-style: none !important;
	&:hover, &:active, &:focus {
		cursor: pointer;
		text-decoration: none;
	}
}

//////////////////////////////////////////////////////////
// Animation
//////////////////////////////////////////////////////////

a,
button,
.btn,
input,
select,
textarea {
	@include transition(all 0.3s ease-in-out);
}

//////////////////////////////////////////////////////////
// Bootstrap Reset
//////////////////////////////////////////////////////////

.well, .breadcrumb {
	box-shadow: none;
	border: none;
}
.alert-link, .badge {font-weight: 300;}
.alert {
	border-radius: 0;
	border: none;
	text-align: center;
	margin-bottom: 0;
	strong {
		font-weight: 400;
	}
}

//////////////////////////////////////////////////////////
// Special Buttons
//////////////////////////////////////////////////////////

.btn {
	font-weight: 400;
	font-style: italic;
	&:not(.btn-link) {
		text-transform: uppercase;
		font-size: 90%;
		border-color: rgba($dark-color, 0.1);
		box-shadow: 3px 3px 0 rgba($dark-color,0.2);
		&:hover, &:active, &:focus {
			border-color: rgba($dark-color, 0.2);
			box-shadow: none;
		}
	}
	&.btn-ghost {
		box-shadow: none!important;
	}
	&.btn-link {
		color: $main-color;
		font-weight: 300;
		&:hover, &:active, &:focus {
			color: darken($main-color, 10%);
		}
	}
}

//////////////////////////////////////////////////////////
// Forms
//////////////////////////////////////////////////////////

// Placeholders
.placeholder {
	color: rgba($dark-color, 0.6);
	font-style: italic!important;
	font-weight: 300;
	text-shadow: none;
}
::-webkit-input-placeholder {
	@extend .placeholder;
}
:-moz-placeholder {
	@extend .placeholder;
}
::-moz-placeholder {
	@extend .placeholder;
}
:-ms-input-placeholder {
	@extend .placeholder;
}

// Checkbox
.checkbox {
	display: inline-block;
	position: relative;
	margin-top: 0;
	margin-bottom: 15px;
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		visibility: hidden;
		+ label {
			padding-left: 0;
			font-weight: 300;
			color: $light-color;
			&:before, &:after {
				width: 30px;
				height: 30px;
				padding: 4px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				line-height: 22px;
				@include transition(all 0.2s ease-out);
			}
			&:before {
				font-family: 'Pe-icon-7-stroke';
				content: '\e66c';
				position: relative;
				margin-right: 5px;
				font-size: 150%;
				opacity: 0;
				text-align: center;
				text-indent: -1px;
				z-index: 2;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				background: $side-color;
				border: 1px solid darken($side-color,5%);
			}
		}
		&:checked + label {
			color: $main-color;
			&:before {
				opacity: 1;
				content: '\e66c';
				color: $back-color;
			}
			&:after {
				background-color: $main-color;
				border-color: $main-color;
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Layout
//////////////////////////////////////////////////////////

body {
	> #wrapper {
		display: table;
		height: 100%;
		width: 100%;
		margin-bottom: -$footer-height;
		padding-bottom: $footer-height;
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

//////////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////////

#header {
	min-height: $header-height;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	&:after {@extend .bottom-triangle;}
	div.text-right[class*='col-'] {
		@media #{$xs}{
			text-align: center;
		}
	}
	.form-group {
		padding: 0 10px;
		&:last-child {padding-right: 0;}
		@media #{$xs}{
			display: inline-block;
			vertical-align: top;
		}
		.form-control {
			padding-left: 0;
			padding-right: 0;
			border-width: 0 0 1px 0;
			max-width: 120px;
			&:focus {
				box-shadow: none;
			}
			&#search_kms {
				text-align: right;
			}
		}
	}
	.input-group {
		max-width: 120px;
		.input-group-addon {
			background-color: transparent;
			padding-left: 5px;
			padding-right: 0;
			border-width: 0 0 1px 0;
			opacity: 0.7;
		}
	}
}

//////////////////////////////////////////////////////////
// Titles
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
// Slick Carousels
//////////////////////////////////////////////////////////

.multiple-slider,
.multiple-products-slider {
	display: block;
	padding: 0 45px;
	.single-product {
		float: left;
		height: 100%;
		min-height: 1px;
		text-align: center;
		display: block;
	}
}

.slick-arrow {
	background-image: none;
	color: $dark-color;
	text-shadow: none;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	z-index: 100;
	> span[class^="pe"] {
		font-size: 42px;
		border-radius: 50%;
		@include transition(all 0.6s ease-in-out);
	}
	&.right {right: 0;}
	&.left  {left: 0;}
	&:hover, &:active {
		opacity: 0.8;
		> span[class^="pe"] {
			background-color: darken($side-color,3%);
		}
	}
}

//////////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////////

#footer {
	min-height: $footer-height;
	padding: 25px 0;
	position: relative;
	&:before {@extend .upper-triangle;}
	h6 {
		font-weight: 700;
		@media #{$xs}{margin: 15px 0 5px;}
	}
	ul, p {
		font-size: 90%;
		a {
			display: inline-block;
			width: 100%;
			padding:1px 0;
		}
	}
}

//////////////////////////////////////////////////////////
// Modal
//////////////////////////////////////////////////////////

.modal {
	top:60px;
	.modal-content {
		border-radius: 0;
		.modal-header {
			border: none;
			.close {
				> span[class^="pe"] {
					font-size: 125%;
				}
			}
		}
		.modal-content {
			box-shadow: none;
			border: none;
		}
	}
}
.modal-backdrop {
	&.in {
		opacity: 0.6;
	}
}

//////////////////////////////////////////////////////////
// Home
//////////////////////////////////////////////////////////

// Color over image backgrounds
section#section-guideline,
section#section-parts {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	> .container {
		position: relative;
		z-index: 1;
	}
}

// Guideline
section#section-guideline {
	min-height: 200px;
	padding: 70px 0;
	padding-top: 150px;
	h2 {
		font-size: 140%;
		margin: 0;
		@media #{$osm} {
			margin-bottom: 30px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 60px;
			width: 100%;
			height: 1px;
			border-bottom: 1px solid;
			z-index: 0;
			@media #{$xs} {
				bottom: -30px;
			}
		}
		em {
			display: inline-block;
			width: 100%;
			font-size: 140%;
			@media #{$sm} {width: auto;}
		}
	}
	.lead {
		display: inline-block;
		margin-bottom: 0;
		@media #{$usm} {margin-bottom: 15px;}
	}
	.small {
		opacity: 0.8;
		line-height: 1.3em;
		display: inline-block;
	}
	#guideline-list {
		list-style: none;
		display: table;
		width: 100%;
		padding: 0 0 15px 0;
		margin-bottom: 15px;
		border-bottom: 1px solid;
		position: relative;
		li {
			display: table-cell;
			width: 1%;
			text-align: center;
			padding: 0 5px;
			vertical-align: bottom;
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				font-style: italic;
				//ojo
				position: relative;
				.badge {
					border-radius: 50%;
					width: 30px;
					height: 30px;
					padding: 5px 1px;
					line-height: 17px;
					text-align: center;
					font-style: normal;
					margin: 2px 4px;
					font-weight: bold;
					letter-spacing: -0.08em;
					@media #{$oxs} {
						margin-top: 29px;
					}
				}
				&.disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
				.inner-cell {
					> span[class^="flaticon-"] {
						display: block;
						font-family: "Flaticon";
						font-style: normal;
						font-size: 27px;
						vertical-align: middle;
					}
				}
			}
			@media #{$xs} {
				display: table-row;
				width: 100%;
				h2 {position: relative;}
				a {
					.inner-cell {
						display: inline-block;
						width: 50%;
						&:first-child {text-align: right;}
						&:last-child {text-align: left;}
						> span[class^="flaticon-"] {
							display: inline-block;
							font-size: 21px;
							margin-right: 5px;
						}
					}
					.badge {
						margin: 5px 10px;
					}
				}
				
			}
			&:first-child {
				width: 5%;
				text-align: right;
				padding: 0;
				padding-right: 5px;
				@media #{$usm} {
					display: table-caption;
					width: 100%;
					text-align: center;
					padding-right: 0;
				}
			}
		}
	}
	.blah {
		display: table;
		width: 100%;
		.disclamer-text {
			display: table-cell;
			width: 25%;
			text-align: right;
		}
		.button-holder {
			display: table-cell;
			text-align: center;
			vertical-align: top;
		}
		@media #{$usm} {
			.disclamer-text,
			.button-holder {
				display: block;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
		}
	}
}

// Promos
section#section-promos {
	min-height: 200px;
	padding: 60px 0;
	position: relative;
	z-index: 1;
	&:before {@extend .upper-triangle;}
	&:after {@extend .bottom-triangle;}
	h2 {
		text-align: center;
		font-weight: 700;
		opacity: 0.6;
	}
}

// Part
section#section-parts {
	min-height: 200px;
	padding: 70px 0;
	h2 {
		text-align: right;
	}
	#part-list {
		list-style: none;
		display: table;
		width: 100%;
		position: relative;
		padding-left: 0;
		margin-bottom: 20px;
		li {
			display: table-cell;
			width: 1%;
			padding: 0 5px;
			vertical-align: bottom;
			text-align: center;
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				max-width: 60px;
				border-radius: 50%;
				border: 4px solid;
				font-size: 0;
				text-align: center;
				opacity: 0.4;
				&:after {
					content: '';
					padding-top: 100%;
					display: block;
				}
				&.active, &:hover, &:active, &:focus {
					opacity: 1;
				} 
			}
		}
	}
}

//////////////////////////////////////////////////////////
// Skin
//////////////////////////////////////////////////////////

// General
body {
	color: $dark-color;
	background-color: $back-color;
}
hr {border-top-color: $side-color;}
a {
	color: $main-color;
	&:hover, &:active, &:focus {
		color: darken($main-color, 10%);
	}
}
// Selection
::-moz-selection {
	background: $main-color;
	color: $back-color;
}
::selection {
	background: $main-color;
	color: $back-color;
}
// Button
.btn.btn-cta {
	color: $dark-color;
	background-color: $side-color;
	&:hover, &:active, &:focus {
		color: $dark-color;
		background-color: daken($side-color,10%);
	}
	&.btn-ghost {
		color: $side-color;
		border-color: $side-color;
		background: transparent;
		&:hover, &:active, &:focus {
			color: $dark-color;
			background-color: $side-color;
		}
	}
}
// Layout
#header {
	.form-control {color: $back-color;}
	.input-group {
		.input-group-addon {
			color: $back-color;
			border-color: $back-color;
		}
	}
	&:after {border-color: rgba($dark-color,0.9) transparent transparent transparent;}
}
#footer {
	&:before {border-color: transparent transparent rgba($dark-color,0.9) transparent;}
}
#footer, #header {
	background-color: rgba($dark-color,0.9);
	color: $light-color;
	a {
		color: $light-color;
		&:hover, &:active, &:focus {
			color: $main-color;
		}
	}
}
// Home
section#section-guideline {
	background-image: url(guideline-background.jpg);
	&:after {
		background: $main-color;
		background: rgba($main-color,0.93);
		background: -moz-linear-gradient(left, rgba(lighten($main-color,10%),0.93) 0%, rgba(darken($main-color,10%),0.93) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(lighten($main-color,10%),0.93) 0%,rgba(darken($main-color,10%),0.93) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(lighten($main-color,10%),0.93) 0%,rgba(darken($main-color,10%),0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	color: $back-color;
	#guideline-list {
		border-bottom-color: rgba($dark-color,0.25);
		h2:after {border-bottom-color: rgba($dark-color,0.25);}
		a {
			color: $back-color;
			.badge {
				background-color: $back-color;
				color: $main-color;
			}
			&:not(.disabled) {
				&:hover, &:active, &:focus {
					text-shadow: 0 2px 0 rgba($dark-color,0.2);
					.badge {box-shadow: 0 2px 0 rgba($dark-color,0.2);}
				}
			}
		}
	}
}
section#section-promos {
	background-color: $back-color;
	&:before {border-color: transparent transparent $back-color transparent;}
	&:after {border-color: $back-color transparent transparent transparent;}
}
section#section-parts {
	background-image: url(guideline-background.jpg);
	&:after {
		background: $light-color;
		background: rgba($light-color,0.93);
	}
	#part-list {
		li {
			a {
				border-color: $dark-color; 
			}
		}
	}
}
// Modal
.modal {
	.modal-content {
		box-shadow: 5px 5px 0 rgba($dark-color,0.2);
	}
}
.modal-backdrop {
	background-color: $dark-color;
}