@import 'helpers';
@import 'resets';

//////////////////////////////////////////////////////////
// New Home 2018
//////////////////////////////////////////////////////////

.new-home {
  position: relative;
  height: calc(100% - 40px);
  @media #{$oxs} {
    height: calc(100% - 50px);
  }
  
}
.new-home_header {
  height: 50px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba($dark-color,0.9);
  @media #{$oxs} {
    height: 80px;
  }
  img {
    display: inline-block;
    vertical-align: top;
    &.visible-xs {    
      height: 30px;
      @media #{$xs} {
        display: inline-block!important;
      }
    }
    &.hidden-xs {
      margin-top: 15px;
      max-width: 292px;
    }
  }
}
.new-home_body {
  position: relative;
  @media #{$xs} {
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $light-color;
  }
  @media #{$oxs} {
    height: calc(100% - 50px);
  }
  .carousel {
    margin: 0 -15px;
    .carousel-inner {
      > .item {
        > img {
          margin: 0 auto;
          width: 100%;
        }
      }
    }
    .carousel-caption {
      text-align: right;
      top: 0;
      padding-bottom: 20px;
      @media #{$oxs} {
        top: 20px;
      }
      h1, h2, h3 {
        font-weight: bold;
      }
    }
    .carousel-indicators {
      bottom: 0;
      @media #{$oxs} {
        bottom: 50px;
      }
      li {
        margin: 1px 2px;
      }
    }
    .carousel-control {
      width: 10%;
      .fa {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        top: 50%;
        position: absolute;
        margin-top: -15px;
        left: 50%;
        margin-left: -15px;
        font-size: 125%;
      }
    }
  }

  // Tabs
  #home-tabs {
    position: relative;
    @media #{$xs} {
      height: calc(100% - 100px);
      .col-sm-9 {
        position: static;
      }
    }
    @media #{$oxs} {
      top: -49px;
    }
    .nav-stacked {
      margin-right: -15px;
      font-weight: bold;
      background-color: $light-color;
      @media #{$xs} {
        margin-left: -15px;
        height: 100%;
      }
      > li {
        border-bottom: 1px solid $back-color;
        a {
          padding-top: 15px;
          padding-bottom: 15px;
          &:hover, &:active, &:focus {
            background-color: darken($light-color,8%);
          }
        }
        &.active a {
          background-color: $main-color;
          &:hover, &:active, &:focus {
            background-color: $main-color;
          }
        }
      }
    }
    .tab-content {
      margin-left: -15px;
      text-align: center;
      padding: 25px 35px 15px;
      background-color: $main-color;
      color: $back-color;
      @include transition(all 0.6s ease-in-out);
      @media #{$xs} {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 15px;
        margin-right: -15px;
        //
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        &.visible {
          z-index: 1;
          opacity: 1;
          visibility: visible;
        }
      }
      .close-tab {
        display: none;
        @media #{$xs} {
          display: block;
          border: none;
          border-radius: 50%;
          color: $main-color;
          background-color: $back-color;
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 1;
        }
      }
      .form-control {
        margin-bottom: 10px;
        background-color: $back-color;
      }
      .btn-group {
        .btn {
          border: none;
          background-color: transparent;
          box-shadow: none;
          height: 34px;
        }
      }
      .btn-cta {
        margin-top: 15px;
      }
      .btn-link {
        color: $back-color;
        margin-top: 15px;
      }
      .single-promo {
        max-width: 420px;
        margin: 0 auto 10px;
        float: none;
        display: block;
        .promo-description {
          color: $back-color;
          h2, h3, h4, h5, h6 {
            font-weight: bold;
            color: $back-color;
          }
        }
      }
    }
  }
}
.new-home_footer {
  position: relative;
  z-index: 2;
  height: 40px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba($dark-color,0.9);
  @media #{$oxs} {
    height: 50px;
  }
  img {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    @media #{$oxs} {
      height: 25px;
    }
  }
}