| Cliente:
= "Nombre: #{@manteinance_coupon.client.name} #{@manteinance_coupon.client.primary_last_name}"
= "Rut: #{@manteinance_coupon.client.rut}"
= "Email: #{@manteinance_coupon.client.email}"
= "Teléfono: #{@manteinance_coupon.client.phone}"
= "Comuna: #{@manteinance_coupon.client.comune.desc_comuna}"

| Pauta:
= "#{@manteinance_coupon.pauta.name}"

| Vehicle:
= "#{@vehicle_brand}"
= "#{@vehicle_model}"

| Fecha:
= @manteinance_coupon.date

| Precio:
= number_to_currency(@manteinance_coupon.price, precision: 0,  delimiter: '.')

| Sucursal:
= @manteinance_coupon.branch.name

