|
  $('#contact-modal').modal('hide')

  $('#book-manteinance-coupon-client-registered-modal').html( "#{escape_javascript(render('/manteinance_coupons/book_manteinance_coupon_client_registered_modal'))}" );

  $('#book-manteinance-coupon-client-registered-modal #new_manteinance_coupon').submit()