|
  $('#contact-modal').modal('hide')

  $('#obtain-manteinance-coupon-done-modal').html( "#{escape_javascript(render('/manteinance_coupons/obtain_manteinance_coupon_done_modal'))}" );

  $('#obtain-manteinance-coupon-done-modal').modal('show')