|
  $('#contact-modal').modal('hide')

  $('#obtain-manteinance-coupon-client-registered-modal').html( "#{escape_javascript(render('/manteinance_coupons/obtain_manteinance_coupon_client_registered_modal'))}" );

  generalControls.showLoadingEffect();

  $('#obtain-manteinance-coupon-client-registered-modal #new_manteinance_coupon').submit()