|
  $('#contact-modal').modal('hide')

  $('#obtain-manteinance-coupon-client-registered-modal').html( "#{escape_javascript(render('/manteinance_coupons/obtain_manteinance_coupon_client_registered_modal'))}" );

  $('#obtain-manteinance-coupon-client-registered-modal').modal('show')