- EventTracker::ConfirmManteinanceCoupon.new(controller: controller, client: session[:client], vehicle: session[:vehicle], manteinance_coupon: @manteinance_coupon).track
|
  $('#obtain-manteinance-coupon-client-registered-modal').modal('hide');

  $('#create-manteinance-coupon-modal').html( "#{escape_javascript(render('create_manteinance_coupon_modal'))}" );

  $('#create-manteinance-coupon-modal').modal('show');

  $('#modal-done-button').click(function() {
    $(this).closest('.modal').modal('hide');
    window.location = "/results";
  });
