- EventTracker::OpenBranchBookingPage.new(controller: controller, client: session[:client], vehicle: session[:vehicle], manteinance_coupon: @manteinance_coupon).track
javascript:
  window.location = '#{@manteinance_coupon.branch.booking_url}';