|
  $('#obtain-manteinance-coupon-client-registered-modal').modal('hide');

  $('#create-manteinance-coupon-modal').html( "#{escape_javascript(render('create_manteinance_coupon_modal'))}" );

  $('#create-manteinance-coupon-modal').modal('show');
